/* Colore background Header */
$bgHeader: coral;

/* Colore background NavBar */
$bgNavBar: aqua;

/* Colore background Content */
$bgContent: brown;

/* Colore background Footer */
$bgFooter: black;

@mixin flex-display {
  display: flex;
  justify-content: center;
  align-items: center;
}
