/* Colore background Header */
$bgHeader: coral;

/* Colore background NavBar */
$bgNavBar: aqua;

/* Colore background Content */
$bgContent: brown;

/* Colore background Footer */
$bgHeader: black;
